@font-face
{
font-family: "MontserratBold";
src: url("font/Montserrat.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
a 
{
  color: white; /* Цвет обычной ссылки */ 
  text-decoration: none; /* Убираем подчёркивание у ссылок */
}
.navbarstl
{
  color:  #191970;
}
.buttonstyle{
  margin:50px;
  display:flex; 
  justify-content:center; 
  align-items:center;
}
.titlepara{
  font-size: 200px;
  margin-top: 50px;
  margin-left: 100px;
}
.titlepara2{
  font-size: 200px;
  margin-left: 100px;
}
.price
{
  font-size: 25px;
  margin-top:50px;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}
.zag{
  font-size: 40px;
  margin-top:50px;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
}
.maintext2
{
  font-family: 'Roboto', sans-serif;
  justify-content:center; 
  align-items:center;
  text-align:center;
  font-size: 25px;
  margin-left: 40px;
  margin-right: 40px;
}
/*.maintext{
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  text-indent: 80px;
  text-align:justify;
  font-size: 25px;
}
.maintext2{
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-size:25px;
  display:inline; 
  justify-content:center; 
  align-items:center;
}*/
html, body {
height: 100%;
}
.cd-fixed-background {
height: 100%;
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
}
.cd-fixed-background.img-1 {
background-image: url("paraimgtwo.jpg");
}
.cd-fixed-background.img-2 {
background-image: url("paraimg.jpg");
}
.cd-fixed-background.img-3 {
background-image: url("l2sGCXIscUjYt1BvhCoM9Y7J55SAQOrr.jpg");
}
.cd-fixed-background.img-4 {
background-image: url("lazernoe-omolozhenie-lica.jpg");
}
.cd-fixed-background.img-5 {
background-image: url("scale_1200.jpg");
}

